@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@section head{


    <!-- FlexSlider -->
    <script src="/js/jquery.flexslider.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
}

@section content{
  <div class="slider">
            <div class="container">
                <div class="flexslider">
                    @Umbraco.RenderMacro("GetAllSlides")
                </div>
            </div>
        </div>
        <div class="container content">
            <div class="row">
              @Umbraco.RenderMacro("GetFrontpageInfo")
            </div>
        </div>
}