<!DOCTYPE root[<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT Price ANY>
<!ATTLIST Price id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
 
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Site id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-29T10:39:53" updateDate="2014-08-25T14:54:29" nodeName="Garanti Rengøring" urlName="garanti-rengoering" path="-1,1054" isDoc="" nodeType="1052" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1053" nodeTypeAlias="Site">
    <Frontpage id="1059" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2014-07-29T10:45:10" updateDate="2014-08-25T14:22:36" nodeName="Forside" urlName="forside" path="-1,1054,1059" isDoc="" nodeType="1055" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1056" nodeTypeAlias="Frontpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <slider><![CDATA[1096,1097]]></slider>
      <bigspotboximg>1098</bigspotboximg>
      <bigspotboxtext><![CDATA[<h3>Lorem ipsum dolor sit amet</h3>
<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>]]></bigspotboxtext>
      <smallspotboxfirstimg>1093</smallspotboxfirstimg>
      <smallspotboxfirsttext><![CDATA[<h3>Lorem ipsum dolor sit amet</h3>
<p>Consectetur adipisicing elit, sed do eiusmod tempor</p>]]></smallspotboxfirsttext>
      <smallspotboxsecondimg>1092</smallspotboxsecondimg>
      <SmallSpotBoxSecondText><![CDATA[<h3>Lorem ipsum dolor sit amet</h3>
<p>Consectetur adipisicing elit, sed do eiusmod tempor</p>]]></SmallSpotBoxSecondText>
    </Frontpage>
    <Textpage id="1060" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2014-07-29T10:45:22" updateDate="2014-08-25T15:00:42" nodeName="Profil" urlName="profil" path="-1,1054,1060" isDoc="" nodeType="1057" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1058" nodeTypeAlias="Textpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodytext><![CDATA[<h3>Lorem Ipsum er ganske enkelt fyldtekst</h3>
<p>fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer.</p>
<p>Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
<p>Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her – og mere tekst her", mens det samtidigt ligner almindelig tekst.</p>
<h3>Mange layoutprogrammer og webdesignere</h3>
<p>bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).</p>]]></bodytext>
      <atmospherePicture>1098</atmospherePicture>
    </Textpage>
    <Price id="1107" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2014-08-27T10:20:14" updateDate="2014-08-27T10:20:49" nodeName="Prisliste" urlName="prisliste" path="-1,1054,1107" isDoc="" nodeType="1103" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1104" nodeTypeAlias="Price">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Product id="1108" parentID="1107" level="3" creatorID="0" sortOrder="0" createDate="2014-08-27T10:21:16" updateDate="2014-08-27T10:50:51" nodeName="Kontorrengøring" urlName="kontorrengoering" path="-1,1054,1107,1108" isDoc="" nodeType="1105" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1106" nodeTypeAlias="Product">
        <umbracoNaviHide>0</umbracoNaviHide>
        <atmospherePicture>1098</atmospherePicture>
        <bodytext><![CDATA[<h1>Lorem Ipsum er ganske enkelt fyldtekst</h1>
<p>fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer.</p>
<p>Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
<p>Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her – og mere tekst her", mens det samtidigt ligner almindelig tekst.</p>]]></bodytext>
      </Product>
      <Product id="1109" parentID="1107" level="3" creatorID="0" sortOrder="1" createDate="2014-08-27T10:21:31" updateDate="2014-08-27T10:50:59" nodeName="Trappevask" urlName="trappevask" path="-1,1054,1107,1109" isDoc="" nodeType="1105" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1106" nodeTypeAlias="Product">
        <umbracoNaviHide>0</umbracoNaviHide>
        <atmospherePicture>1093</atmospherePicture>
        <bodytext><![CDATA[<h1>Mange layoutprogrammer og webdesignere</h1>
<p>bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).</p>]]></bodytext>
      </Product>
      <Product id="1110" parentID="1107" level="3" creatorID="0" sortOrder="2" createDate="2014-08-27T10:21:48" updateDate="2014-08-27T10:51:08" nodeName="Måtteservice" urlName="maatteservice" path="-1,1054,1107,1110" isDoc="" nodeType="1105" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1106" nodeTypeAlias="Product">
        <umbracoNaviHide>0</umbracoNaviHide>
        <atmospherePicture>1098</atmospherePicture>
        <bodytext><![CDATA[<h1>Lorem Ipsum er ganske enkelt fyldtekst</h1>
<p>fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer.</p>
<p>Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
<p> </p>]]></bodytext>
      </Product>
      <Product id="1111" parentID="1107" level="3" creatorID="0" sortOrder="3" createDate="2014-08-27T10:22:03" updateDate="2014-08-27T10:51:15" nodeName="Tæpperens" urlName="taepperens" path="-1,1054,1107,1111" isDoc="" nodeType="1105" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1106" nodeTypeAlias="Product">
        <umbracoNaviHide>0</umbracoNaviHide>
        <atmospherePicture>1098</atmospherePicture>
        <bodytext><![CDATA[<h1>Lorem Ipsum er ganske enkelt fyldtekst</h1>
<p>fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer.</p>
<p>Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
<p>Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her – og mere tekst her", mens det samtidigt ligner almindelig tekst.</p>
<h3>Mange layoutprogrammer og webdesignere</h3>
<p>bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).</p>]]></bodytext>
      </Product>
      <Product id="1112" parentID="1107" level="3" creatorID="0" sortOrder="4" createDate="2014-08-27T10:22:18" updateDate="2014-08-27T10:51:20" nodeName="Persiennevask" urlName="persiennevask" path="-1,1054,1107,1112" isDoc="" nodeType="1105" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1106" nodeTypeAlias="Product">
        <umbracoNaviHide>0</umbracoNaviHide>
        <atmospherePicture>1098</atmospherePicture>
        <bodytext><![CDATA[<h1>Lorem Ipsum er ganske enkelt fyldtekst</h1>
<p>fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer.</p>
<h3>Mange layoutprogrammer og webdesignere</h3>
<p>bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).</p>]]></bodytext>
      </Product>
    </Price>
    <Contact id="1102" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2014-08-27T10:06:15" updateDate="2014-08-27T10:20:49" nodeName="Kontakt" urlName="kontakt" path="-1,1054,1102" isDoc="" nodeType="1100" creatorName="Marc Creutzberg" writerName="Marc Creutzberg" writerID="0" template="1101" nodeTypeAlias="Contact">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodytext><![CDATA[<h3>Lorem Ipsum er ganske enkelt fyldtekst</h3>
<p>fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer.</p>
<p>Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
<p>Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her – og mere tekst her", mens det samtidigt ligner almindelig tekst.</p>
<h3>Mange layoutprogrammer og webdesignere</h3>
<p>bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).</p>]]></bodytext>
      <atmospherePicture>1093</atmospherePicture>
    </Contact>
    <umbracointernalredirectid>1059</umbracointernalredirectid>
    <logo>1091</logo>
    <footerText><![CDATA[<h2>Kontakt </h2>
<p>Adresse</p>
<p>Post nr &amp; Bynavn</p>
<p>TLF nr </p>
<p>CVR</p>
<p>Email</p>]]></footerText>
  </Site>
</root>